.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  width:80%;
}

.menu-panel {
  margin-left: 24px;
}

.mat-icon-button {
  font-size: 1em;
  margin-left: 24px;
  width: 100%;
}

.example-spacer {
  /*flex: 1 1 auto;*/
}

a {
  color: white;
  text-decoration: none;
}

.leftMenuItems {
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
}

.rightMenuItems {
  width: 100%;
  text-align: right;
  height: 100%;
}
