.eventContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
}

.sec-event-card {
  width: 400px;
  margin: 16px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease-in-out;
}

.sec-event-card:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0,.85);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0,.85);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .85);
}

.sec-event-card-header {
  /*background-color: lightgray;*/
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.eventDescription {
  grid-column-start: 0;
  grid-column-end: span 2;
  margin-bottom: 8px;
}

.eventDetails {
  display: grid;
  grid-template-columns: auto auto;
}

.example-header-image {
  margin-right: 16px;
}


